<!DOCTYPE html>

<html>
<head>
   <title>Canoe</title>
   <style type=text/css>
      p {

         font-size: 20px;
         margin: 8px;
      }
      div {
         color: black;
         margin: 4px;
         font-size: 25px;
      }
   </style>
</head>
<body>
<h2>These are some of the suggestions and infographics based on your preferences!</h2>
    <div style="width: 1000; float:left; height:500; margin:10px">
     <p>This is a line graph to show the following prices</p>
     <iframe height="500" width="1000" src = "http://127.0.0.1:5000/static/line_graphtest.html"></iframe>
   </div>
   <div style="width: 1000; float:left; height:500; margin:10px">
      <p>This is a bar graph to show the following prices</p>
      <iframe height="500" width="1000" src = 'http://127.0.0.1:5000/static/bar_graphtest.html'></iframe>
   </div>
   <div style="width: 1000; float:left; height:500; margin:10px">
      <p>Forecast of demand in the coming months</p>
      <iframe height="500" width="1000" src = 'http://127.0.0.1:5000/static/predictive_analysis.html'></iframe>
   </div>
   <div style="width: 500; float:left;">
      <p>These are some recommended hotels at your destination!</p>
   </div>



   
</body>

</html>