<!DOCTYPE html>

<html>
<head>
   <title>Canoe</title>
   <style type=text/css>
      p {

         font-size: 20px;
         margin: 8px;
      }
      div {
         color: black;
         margin: 4px;
         font-size: 25px;
      }
   </style>
</head>
<body>
<h2>These are some of the flight suggestions and infographics based on selected race</h2>
    <div style="width: 1000; float:left; height:500; margin:10px">
     <p>Line graph depicting the trend of prices with respect to the median in the time period.</p>
     <iframe height="500" width="1000" src = "http://127.0.0.1:5000/static/line_graphtest.html"></iframe>
   </div>
   <div style="width: 1000; float:left; height:500; margin:10px">
      <p>Bar graph depicting the averages prices categorized by airline.</p>
      <iframe height="500" width="1000" src = 'http://127.0.0.1:5000/static/bar_graphtest.html'></iframe>
   </div>
   <div style="width: 1000; float:left; height:500; margin:10px">
      <p>Forecast of flight demand in the coming months <i>(with respect to total departures from SIN)</i></p>
      <iframe height="500" width="1000" src = 'http://127.0.0.1:5000/static/predictive_analysis.html'></iframe>
   </div>
   <ul>
      {% for item in list_for_html %}
          <li>
            <a href="/wordcloud/{{ item }}" target="_blank">{{ item }}</a>
          </li>
      {% endfor %}
  </ul>
   <div>
      <a href="" target="_blank">Back to homepage</a>
   </div>
</body>

</html>
